  <%# <p>
    <strong>Commenter_name:</strong>
    <%= comment.commenter %>
  

  <p>
    <strong>Your_instuction:</strong>
    <%= comment.body %>
  </p>

        <%= link_to "Destroy instruction", [comment.management, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>


