<%# <h4 class="text-center"><%= pluralize(@management.count, "Result")%></h4> 

<%= search_form_for(@q, url: managements_path, method: :get, class:'d-flex') do |form| %>
    <%= form.search_field :name_i_cont_any ,placeholder: "search", class:"form-control me-2" %>
    <%= form.submit "Search", class:"btn btn-outline-success" %>

<%end%>