<style>
body{
  background: LemonChiffon;
}
</style>

<h3>WELCOME TO OUR EV MANAGER</h3>
<p>
It is the event managements system.<br>
<br>
Our Services:<br>
1.Event Planning and Design<br>
2.Venue Selection and Management<br>
3.Vendor Coordination<br>
4.Budget Planning and Management</p>